<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ray.cloud.framework.mybatis.mapper.DPersonOtherMapper">
  <resultMap id="BaseResultMap" type="com.ray.cloud.framework.mybatis.entity.DPersonOther">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="TRAIN_ID" jdbcType="CHAR" property="trainId" />
    <result column="CARD_ID" jdbcType="CHAR" property="cardId" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="EDUCATION_BACKGROUND" jdbcType="VARCHAR" property="educationBackground" />
    <result column="LEARN_SITUATION" jdbcType="VARCHAR" property="learnSituation" />
    <result column="SOCIAL_SITUATION" jdbcType="VARCHAR" property="socialSituation" />
    <result column="LANGUAGE_SITUATION" jdbcType="VARCHAR" property="languageSituation" />
    <result column="PROFESSIONAL_SKILLS" jdbcType="VARCHAR" property="professionalSkills" />
    <result column="HOBBY" jdbcType="VARCHAR" property="hobby" />
    <result column="DATA_FLAG" jdbcType="INTEGER" property="dataFlag" />
    <result column="CREATE_USER" jdbcType="CHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="CHAR" property="updateUser" />
    <result column="UPDATE_TIEM" jdbcType="TIMESTAMP" property="updateTiem" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TRAIN_ID, CARD_ID, CONTENT, EDUCATION_BACKGROUND, LEARN_SITUATION, SOCIAL_SITUATION, 
    LANGUAGE_SITUATION, PROFESSIONAL_SKILLS, HOBBY, DATA_FLAG, CREATE_USER, CREATE_TIME, 
    UPDATE_USER, UPDATE_TIEM
  </sql>
  <select id="selectByExample" parameterType="com.ray.cloud.framework.mybatis.entity.DPersonOtherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_person_other
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from d_person_other
    where ID = #{id,jdbcType=CHAR}
  </select>
  <insert id="insert" parameterType="com.ray.cloud.framework.mybatis.entity.DPersonOther">
    insert into d_person_other (ID, TRAIN_ID, CARD_ID, CONTENT, 
      EDUCATION_BACKGROUND, LEARN_SITUATION, SOCIAL_SITUATION, 
      LANGUAGE_SITUATION, PROFESSIONAL_SKILLS, 
      HOBBY, DATA_FLAG, CREATE_USER, 
      CREATE_TIME, UPDATE_USER, UPDATE_TIEM
      )
    values (#{id,jdbcType=CHAR}, #{trainId,jdbcType=CHAR}, #{cardId,jdbcType=CHAR}, #{content,jdbcType=VARCHAR}, 
      #{educationBackground,jdbcType=VARCHAR}, #{learnSituation,jdbcType=VARCHAR}, #{socialSituation,jdbcType=VARCHAR}, 
      #{languageSituation,jdbcType=VARCHAR}, #{professionalSkills,jdbcType=VARCHAR}, 
      #{hobby,jdbcType=VARCHAR}, #{dataFlag,jdbcType=INTEGER}, #{createUser,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=CHAR}, #{updateTiem,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ray.cloud.framework.mybatis.entity.DPersonOther">
    insert into d_person_other
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="trainId != null">
        TRAIN_ID,
      </if>
      <if test="cardId != null">
        CARD_ID,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="educationBackground != null">
        EDUCATION_BACKGROUND,
      </if>
      <if test="learnSituation != null">
        LEARN_SITUATION,
      </if>
      <if test="socialSituation != null">
        SOCIAL_SITUATION,
      </if>
      <if test="languageSituation != null">
        LANGUAGE_SITUATION,
      </if>
      <if test="professionalSkills != null">
        PROFESSIONAL_SKILLS,
      </if>
      <if test="hobby != null">
        HOBBY,
      </if>
      <if test="dataFlag != null">
        DATA_FLAG,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTiem != null">
        UPDATE_TIEM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="trainId != null">
        #{trainId,jdbcType=CHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=CHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="educationBackground != null">
        #{educationBackground,jdbcType=VARCHAR},
      </if>
      <if test="learnSituation != null">
        #{learnSituation,jdbcType=VARCHAR},
      </if>
      <if test="socialSituation != null">
        #{socialSituation,jdbcType=VARCHAR},
      </if>
      <if test="languageSituation != null">
        #{languageSituation,jdbcType=VARCHAR},
      </if>
      <if test="professionalSkills != null">
        #{professionalSkills,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null">
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTiem != null">
        #{updateTiem,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ray.cloud.framework.mybatis.entity.DPersonOtherExample" resultType="java.lang.Long">
    select count(*) from d_person_other
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update d_person_other
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.trainId != null">
        TRAIN_ID = #{record.trainId,jdbcType=CHAR},
      </if>
      <if test="record.cardId != null">
        CARD_ID = #{record.cardId,jdbcType=CHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.educationBackground != null">
        EDUCATION_BACKGROUND = #{record.educationBackground,jdbcType=VARCHAR},
      </if>
      <if test="record.learnSituation != null">
        LEARN_SITUATION = #{record.learnSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.socialSituation != null">
        SOCIAL_SITUATION = #{record.socialSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.languageSituation != null">
        LANGUAGE_SITUATION = #{record.languageSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.professionalSkills != null">
        PROFESSIONAL_SKILLS = #{record.professionalSkills,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby != null">
        HOBBY = #{record.hobby,jdbcType=VARCHAR},
      </if>
      <if test="record.dataFlag != null">
        DATA_FLAG = #{record.dataFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=CHAR},
      </if>
      <if test="record.updateTiem != null">
        UPDATE_TIEM = #{record.updateTiem,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update d_person_other
    set ID = #{record.id,jdbcType=CHAR},
      TRAIN_ID = #{record.trainId,jdbcType=CHAR},
      CARD_ID = #{record.cardId,jdbcType=CHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      EDUCATION_BACKGROUND = #{record.educationBackground,jdbcType=VARCHAR},
      LEARN_SITUATION = #{record.learnSituation,jdbcType=VARCHAR},
      SOCIAL_SITUATION = #{record.socialSituation,jdbcType=VARCHAR},
      LANGUAGE_SITUATION = #{record.languageSituation,jdbcType=VARCHAR},
      PROFESSIONAL_SKILLS = #{record.professionalSkills,jdbcType=VARCHAR},
      HOBBY = #{record.hobby,jdbcType=VARCHAR},
      DATA_FLAG = #{record.dataFlag,jdbcType=INTEGER},
      CREATE_USER = #{record.createUser,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{record.updateUser,jdbcType=CHAR},
      UPDATE_TIEM = #{record.updateTiem,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ray.cloud.framework.mybatis.entity.DPersonOther">
    update d_person_other
    <set>
      <if test="trainId != null">
        TRAIN_ID = #{trainId,jdbcType=CHAR},
      </if>
      <if test="cardId != null">
        CARD_ID = #{cardId,jdbcType=CHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="educationBackground != null">
        EDUCATION_BACKGROUND = #{educationBackground,jdbcType=VARCHAR},
      </if>
      <if test="learnSituation != null">
        LEARN_SITUATION = #{learnSituation,jdbcType=VARCHAR},
      </if>
      <if test="socialSituation != null">
        SOCIAL_SITUATION = #{socialSituation,jdbcType=VARCHAR},
      </if>
      <if test="languageSituation != null">
        LANGUAGE_SITUATION = #{languageSituation,jdbcType=VARCHAR},
      </if>
      <if test="professionalSkills != null">
        PROFESSIONAL_SKILLS = #{professionalSkills,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null">
        HOBBY = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        DATA_FLAG = #{dataFlag,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTiem != null">
        UPDATE_TIEM = #{updateTiem,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ray.cloud.framework.mybatis.entity.DPersonOther">
    update d_person_other
    set TRAIN_ID = #{trainId,jdbcType=CHAR},
      CARD_ID = #{cardId,jdbcType=CHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      EDUCATION_BACKGROUND = #{educationBackground,jdbcType=VARCHAR},
      LEARN_SITUATION = #{learnSituation,jdbcType=VARCHAR},
      SOCIAL_SITUATION = #{socialSituation,jdbcType=VARCHAR},
      LANGUAGE_SITUATION = #{languageSituation,jdbcType=VARCHAR},
      PROFESSIONAL_SKILLS = #{professionalSkills,jdbcType=VARCHAR},
      HOBBY = #{hobby,jdbcType=VARCHAR},
      DATA_FLAG = #{dataFlag,jdbcType=INTEGER},
      CREATE_USER = #{createUser,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=CHAR},
      UPDATE_TIEM = #{updateTiem,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>